
/*Adapted from Oracle JavaFX Documentation Home */

/*The background style is applied to the .root style, which means it is applied
 * to the root node of the Scene instance
 */
.root{
    -fx-background-image: url(fond_annuaire.png);
    -fx-background-size: cover;
}

.table-row-cell {
    -fx-font-weight:bold;
    -fx-text-fill: black;
}

.table-column {
     -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    }
